* {
  /* border: solid red 2px; */
}

html {
  width: 100vw;
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  color: #172840;
  background-color: #6d9fad;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
}

body {
  border: none;
  margin: 0;
}

button:hover {
  cursor: pointer;
  background-color: #ade0e0;
}

nav {
  display: flex;
  justify-content: flex-start;
  height: 7vh;
  padding: 10px;
  width: 100vw;
  font-size: 2rem;
  border: 0;
  margin: 0;
  background-color: #c8edfa;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.cost, .agent-fee {
  font-size: 2rem;
}


.modal-content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(179, 227, 245, .8);
    padding: 1rem 1.5rem;
    width: 50vw;
    height: 60vh;
    border-radius: 0.5rem;
}

.large-destination-image {
  width: 30vw;
  height: 30vh;
}

.close-button, .close-destination-button {
    margin-top: 7vw;
    margin-left: 80vh;
    width: 3vh;
    height: 3vh;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover, .close-desstination-button:hover {
    background-color: darkgray;
}


.new-trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.search-destinations {
  position: fixed;
  height: 6vh;
  margin-left: 70vw;
  border: 0;
}

.destination-details {
  font-size: 1rem;
  margin: 0;
}

.search-button {
  position: fixed;
  height: 6vh;
  margin-left: 80vw;
  border: none;
  /* background-image: url('images/search-free-icon-font.svg'); */
  background-color: #6d9fad;
}

.create-new-trip {
  position: fixed;
  height: 6vh;
  margin-left: 85vw;
  border: none;
  /* background-image: url('images/search-free-icon-font.svg'); */
  background-color: #6d9fad;
}

.top-nav {
  margin: 0;
  border: 0;
  padding: 10px;
}

.wrapper {
  display: flex;
}

.left-side-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 85vh;
}

.right-side-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 85vh;
}

.trip-view:hover {
  cursor: pointer;
}

.present-trip {
  margin: 10px;
  width: 35vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 227, 245, .8);
}

.upcoming-trips-container {
  padding: 10px;
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 227, 245, .8);
  overflow: scroll;
}

.upcoming-trip-card {
  width: 24vw;
  height: 36vh;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(119, 156, 166,.8);
}

.upcoming-trip-card-img {
  width: 24vw;
  height: 26vh;
}

.trip-card {
  width: 10vw;
  height: 18vh;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(119, 156, 166,.8);
}

.trip-card-img {
  width: 10vw;
  height: 10vh;
}

.trip-name {
  text-align: center;
  margin: 0;
  border: 0;
}

.trip-date {
  font-size: .8rem;
  margin: 0;
  border: 0;
}

.past-trips-container {
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  background-color: rgb(179, 227, 245, .8);
  width: 35vw;
  height: 25vh;
  overflow: scroll;
}

.total-amount-container {
  width: 25vw;
  height: 15vh;
  text-align: center;
  background-color: rgb(179, 227, 245, .8);
  border-radius: 5px;
}

.pending-trips-container {
  margin-top: 40px;
  width: 30vw;
  height: 20vh;
}

.pending-trips {
  width:30vw;
  height: 45vh;
  background-color: rgb(179, 227, 245, .8);
  text-align: center;
}

.hidden {
  display: none;
}
