* {
  /* border: solid red 2px; */
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #6d9fad;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
}

body {
  border: none;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  padding: 10px;
  width: 100vw;
  font-size: 2rem;
  border: 0;
  margin: 0;
  background-color: #c8edfa;
}

.top-nav {
  margin: 0;
  border: 0;
}

.wrapper {
  display: flex;
}

.left-side-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 85vh;
}

.right-side-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 85vh;
}

.trip-view:hover {
  cursor: pointer;
}

.upcoming-trips-container {
  padding: 10px;
  width: 35vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 227, 245, .8);
  overflow: scroll;
}

.upcoming-trip-card {
  width: 24vw;
  height: 36vh;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: teal;
}

.upcoming-trip-card-img {
  width: 24vw;
  height: 26vh;
}

.trip-card {
  width: 10vw;
  height: 18vh;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: teal;
}

.trip-card-img {
  width: 10vw;
  height: 10vh;
}

.trip-name {
  text-align: center;
  margin: 0;
  border: 0;
}

.trip-date {
  font-size: .8rem;
  margin: 0;
  border: 0;
}

.past-trips-container {
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  background-color: rgb(179, 227, 245, .8);
  width: 35vw;
  height: 25vh;
  overflow: scroll;
}

.total-amount-container {
  background-color: #878d94;
  width: 25vw;
  height: 15vh;
  text-align: center;
}

.pending-trips-container {
  width: 30vw;
  height: 30vh;
}

.pending-trips {
  width:30vw;
  height: 45vh;
  background-color: rgb(179, 227, 245, .8);
  text-align: center;
}
